<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mon panier</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table">
                <thead>
                <th>
                    Nom
                </th>
                <th>
                    Qte
                </th>
                </thead>
                <tbody>
                {% if command %}
                    {% for article in command.items %}
                        <tr>
                            <td>
                                {{ article.product.name }}
                            </td>
                            <td>
                                {{ article.quantity }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <a href="{{ path('cart.checkout') }}" class="btn btn-primary">Voir le panier</a>
        </div>
    </div>
</div>