<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">

</head>
<body>
    <table>
        <tr>
            <th>
                Amount
            </th>
            <th>
                Name
            </th>
        </tr>
        <tr>
            <td>
                {{ facture.amount }}
            </td>
            <td>
                {{ facture.name }}
            </td>
        </tr>
    </table>
</body>
</html>