
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/preload.php
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

.DS_Store
.env.test
.idea/
bin/
composer-setup.php
composer.phar
phpunit.xml.dist
symfony.lock
tests/
/public/uploads/*
!/public/uploads/.gitkeep
