{% extends 'base.html.twig' %}

{% block title %}New Brand{% endblock %}

{% block body %}
    <h1>Create new Brand</h1>

    {{ include('brand/_form.html.twig') }}

    <a href="{{ path('brand_index') }}">back to list</a>
{% endblock %}
