{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block body %}
    <h1>Edit SubCategory</h1>

    {{ include('sub_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sub_category_index') }}">back to list</a>

    {{ include('sub_category/_delete_form.html.twig') }}
{% endblock %}
