{% extends 'base.html.twig' %}

{% block title %}New SubCategory{% endblock %}

{% block body %}
    <h1>Create new SubCategory</h1>

    {{ include('sub_category/_form.html.twig') }}

    <a href="{{ path('sub_category_index') }}">back to list</a>
{% endblock %}
